/* styles/Home.module.css */
.header {
  position: sticky;
  top: 0;
  background: #0070f3;
  color: white;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  h1 {
    width: 5.5rem;
    padding: 0 1rem;  
    background-color: #fff;
    mask-image: radial-gradient(circle, white 60%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, white 60%, transparent 100%);
  }
}

.home {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
}

.navList {
  display: flex;
  list-style: none;
  gap: 24px;
}

.hero {
  font-weight: 800;
  text-align: center;
  padding: 50px 20px;
  background: #f0f0f0;
  background-image: url('/images/hero_img.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}

.heroTitle {
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 3rem;
  color: #0F172A;
  margin-bottom: 1rem;
}

.heroSubTitle {
  font-size: 2.5rem;
  color: #1E3A8A;
  line-height: 1.25;
}

.heroDivider {
  margin: 2rem 0;
  color: #0070f3;
  font-weight: 900;
  letter-spacing: 5px;
}

.heroMessage {
  margin: 0 auto 2rem;
  font-size: 1.25rem;
  color: #475569;
}

.aboutMe {
  padding: 4rem 1.5rem;
  background: #fff;
  color: #000;

  > h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 900;
  }
}

.aboutMeMain {
  padding: 0 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 16px 0;

  > div {
    width: 30%;
    display: flex;
    gap: 1.5rem;
  }

  > div > div:nth-child(1) > p:nth-child(1) {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > div > div:nth-child(2) > p:nth-child(1) {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.projectCard {
  width: 300px;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #0070f3;
  color: white;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
