/* styles/Home.module.scss */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #0070f3;
  color: white;
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.header h1 {
  width: 5.5rem;
  padding: 0 1rem;
  background-color: #fff;
  mask-image: radial-gradient(circle, white 60%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle, white 60%, transparent 100%);
}

.home {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
}

.navList {
  display: flex;
  list-style: none;
  gap: 24px;
}

/* ////hero//// */

.hero {
  font-weight: 800;
  text-align: center;
  padding: 50px 20px;
  background: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}

.heroTitle {
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 3rem;
  color: #0F172A;
  margin-bottom: 1rem;
}

.heroSubTitle {
  font-size: 2.5rem;
  color: #1E3A8A;
  line-height: 1.25;
}

.heroDivider {
  margin: 2rem 0;
  color: #0070f3;
  font-weight: 900;
  letter-spacing: 5px;
}

.heroMessage {
  margin: 0 auto 2rem;
  font-size: 1.25rem;
  color: #475569;
}

/* ////aboutMe//// */

.aboutMe {
  margin-top: -70px;
  padding-top: 70px;
}

.aboutMe>div {
  padding: 4rem 1.5rem;
  color: #000;
  background: #fff;
}

.aboutMe h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 900;
}

.aboutMeMain {
  padding: 0 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 16px 0;
}

.aboutMeMain>div {
  width: 80%;
  display: flex;
  gap: 1.5rem;
}

.aboutMeMain>div>div:nth-child(1)>p:nth-child(1) {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMeMain>div>div:nth-child(2)>p:nth-child(1) {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 560px) {
  .aboutMeMain>div {
    width: 40%;
  }
}

@media screen and (min-width: 760px) {
  .aboutMeMain>div {
    width: 30%;
  }
}

/* ////skills//// */

.skills {
  margin-top: -70px;
  padding-top: 70px;
}

.skills>div {
  padding: 50px 20px;
  background: #0070f3;
}

.skills h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 900;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
  background-color: #2c8eff;
  box-shadow: 1rem 1rem 1rem 0 rgba(68, 68, 68, .2);
  border-radius: 1rem;
}

.skillCategory {
  display: flex;
  align-items: flex-start;
}

.skillCategory>div {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-shrink: 0;
}

.skillCategory>div img {
  width: 1.6rem;
}

.skillCategory>div>p:nth-child(2) {
  font-size: 1.4rem;
}

.skillItemList {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

/* ////projects//// */

.projects {
  margin-top: -70px;
  padding-top: 70px;
}

.projects>div {
  padding: 50px 20px;
}

.projects h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 900;
}

.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.projectCard {
  width: 300px;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
}

.projectCard h4 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 900;
  margin: 0 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.projectCardDescription {
  margin-bottom: 10px;
}

.projectCardDescription p {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.projectCardImage {
  width: 100%;
  position: relative;
  padding-top: 49%;
  background: #fff;
  margin-bottom: 10px;
  overflow: hidden;
}

.projectCardImage img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.footer {
  text-align: center;
  padding: 20px;
  background: #0070f3;
  color: white;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}